.speaker-container{
    margin: 30px 20px 0 0;
}
.speaker {
  margin-bottom: 1rem;
}
.speaker:after {
  content: "";
  display: table;
  clear: both;
}


.speaker__bio__text, .speaker__abstract__text {
  display: none;
}

.speaker__social {
  margin-top: 0.5rem;
}
.speaker__social__item {
  margin-right: 0.5rem;
}
.speaker__social__item img {
  width: 25px;
  height: 25px;
}

.speaker-thumb {
  float:left;
  width:160px;
  margin-left:15px;
}
.speaker-thumb img {
  border-radius:3px;
  margin-top: 0.2rem;
}
.speaker-content {
    margin-left: 200px;
}

.speaker-content h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.speaker-content div.small {
  font-size: 1em;
  margin-bottom: 10px;
}