---
layout: page
title: PyData Berlin 2015 | May 29-30
---
<div class="row" id="content" style="margin-top: 115px;">
    <div class="large-10 columns">
        <div class="flatblock-content">
            <h1>Schedule</h1>

            <div class="row">
                <div class="medium-12 large-12 columns">
                    Friday 
                </div>
                <div class="medium-2 large-2 columns">
                    Time
                </div>
                <div class="medium-5 large-5 columns">
                    Track 1
                </div>
                <div class="medium-5 large-5 columns">
                    Track 2
                </div>
            </div>

            <div class="row">
                <div class="medium-2 large-2 columns">
                    8:30
                </div>
                <div class="medium-10 large-10 columns type-break">
                    Breakfast and Registration
                </div>
            </div>

            <div class="row">
                <div class="medium-2 large-2 columns">
                    9:30
                </div>
                <div class="medium-10 large-10 columns type-keynote">
                    Keynote: M. Rocklin, Blaze (50 min) 
                </div>
            </div>

            <div class="row">
                <div class="medium-2 large-2 columns">
                    10:20
                </div>
                <div class="medium-5 large-5 columns type-talk">
                    Tutorial: Bokeh (130 min)<br>
                    Christine Doig<br><br><br><br>
                </div>
                <div class="medium-5 large-5 columns type-talk">
                    <div class="type-talk">
                        Haenel: Blosc
                    </div>
                    <br>
                    <div class="type-talk">
                        Haenel: Blosc
                    </div>
                    <br>
                    <div class="type-talk">
                        Haenel: Blosc
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="medium-2 large-2 columns">
                    12:30
                </div>
                <div class="medium-10 large-10 columns type-break">
                    Lunch
                </div>
            </div>

            <!--[>{% for slots in day.items | sort: "time" %}<]-->
            <!--<div class="row schedule">-->
                <!--<div class="medium-2 large-2 columns">-->
                    <!--Time-->
                <!--</div>-->
                <!--[>{% if slots.break != '' %}<]-->
                <!--[><div class="medium-10 large-10 columns type-break"><]-->
                <!--[><center>Slots break</center><]-->
                <!--[></div><]-->
                <!--[>{% else %}<]-->
                <!--[>{% assign speakers = site.data.keynotes | where:"id",slots.track1 %}<]-->
                <!--[>{% assign speaker = speakers.first %}<]-->
                <!--[>{% if speaker %}<]-->
                <!--[>{% assign klassTrack1 = speaker.type %}<]-->
                <!--[>{% endif %}<]-->
                <!--<div class="medium-5 large-5 columns type-talk">-->
                    <!--<strong>Christine</strong><br>-->
                    <!--Bokeh -->
                <!--</div>-->
                <!--[>{% assign speakers = site.data.keynotes | where:"id",slots.track2 %}<]-->
                <!--[>{% assign speaker = speakers.first %}<]-->
                <!--[>{% if speaker %}<]-->
                <!--[>{% assign klassTrack2 = speaker.type %}<]-->
                <!--[>{% endif %}<]-->
                <!--<div class="medium-5 large-5 columns type-talk">-->
                    <!--<strong>Valentin</strong><br>-->
                    <!--Blosc-->
                <!--</div>-->
                <!--[>{% endif %}<]-->
            <!--</div>-->
            <!--[>{% endfor %}<]-->

        </div>
    </div>

    {% include sponsors.html %}
</div>
