---
layout: page
title: PyData Berlin 2015 | May 29-30
---
<div class="row" id="content" style="margin-top: 115px">
  <div class="large-10 columns">
    <a name="keynotes"><h1>Keynotes</h1></a>
    
    <div class="speaker-container">
      {% assign collection = site.data.keynotes | where:"type","keynote" | sort: "name", "first" %}
      {% for speaker in collection %}
        {% include speaker.html speaker=speaker %}
      {% endfor %}
    </div>
    
    <a name="speaker"><h1>Speakers</h1></a>
    <div class="speaker-container">
      {% assign collection = site.data.keynotes | where:"type","talk" | sort: "name", "first" %}
      {% for speaker in collection %}
        {% include speaker.html speaker=speaker %}
      {% endfor %}
    </div>
  </div>
  {% include sponsors.html %}
</div>
