{% assign speaker = include.speaker %}

<style>
@media (max-width: 600px) {
  .speaker-thumb {
      width:80px;
      margin-left:3px;
   }
   .speaker-content {
       margin-left: 100px;
   }
}
@media (max-width: 350px) {
  .speaker-thumb {
      width:60px;
      margin-left:0px;
   }
   .speaker-content {
       margin-left: 70px;
   }
}
</style>
<div class="speaker">
  <div class="speaker-thumb">
    <img src="static/assets/speaker/{{speaker.firstname | slugify }}-{{ speaker.name | slugify }}.jpg" alt="{{speaker.firstname }} {{ speaker.name }}">
  </div>
  <div class="speaker-content">
      <a class="anchor" id={{ speaker.id }}></a>
      <h3>{{ speaker.firstname }} {{ speaker.name }}</h3>
    <div class="small">{{ speaker.organisation }}</div>
    
    <strong>{{ speaker.title }}</strong>
    
    <br>
    <a href="#" class="speaker__toggle speaker__toggle--abstract">Abstract</a>
    |
    <a href="#" class="speaker__toggle speaker__toggle--bio">Bio</a>
    
    <div class="speaker__social">
      {% if speaker.linkedin != '' %}
        <a href="{{speaker.linkedin}}" target="_blank" class="speaker__social__item speaker__social__item--linkedin">
          <img src="static/assets/social/linkedin_logo.png">
        </a>
      {% endif %}
      {% if speaker.twitter != '' %}
        <a href="https://twitter.com/{{speaker.twitter}}" target="_blank" class="speaker__social__item speaker__social__item--twitter">
          <img src="static/assets/social/twitter_logo.png">
        </a>
      {% endif %}
    </div>

    {% if speaker.abstract != '' %}
      <div class="speaker__abstract">
        
        <div class="speaker__abstract__text">
          {{ speaker.abstract }}
        </div>
      </div>
    {% endif %}
    
    <div class="speaker__bio">
      <div class="speaker__bio__text">
        {{ speaker.bio }}
      </div>
    </div>

  </div>
</div>
