<div class="large-2 columns">
    <h4 class="text-center">Sponsors</h4>
    <hr>
    <h5 class="text-center">Silver</h5>
    <a href="http://www.blue-yonder.com/" target="_blank">
      <img src="static/assets/sponsors/blue_yonder_logo.jpg" alt="Blue Yonder Logo">
    </a>
    <a href="http://python-verband.org/" target="_blank">
      <img src="static/assets/sponsors/python_software_verband.png" alt="Python Software Verband e.V.">
    </a>
    <h5 class="text-center">Supporting</h5>
    <a href="http://www.python-academy.com/" target="_blank">
      <img src="static/assets/sponsors/python_academy_logo.png" alt="Python Academy Logo">
    </a>
    <a href="http://www.unbelievable-machine.com/" target="_blank">
      <img src="static/assets/sponsors/um-logo.jpg" alt="The Unbelievable Machine Company Logo">
    </a>
    <a href="http://www.eyequant.com/" target="_blank">
      <img src="static/assets/sponsors/eyequant_logo.png" alt="EyeQuant Logo">
    </a>
    <a href="https://plot.ly/" target="_blank">
      <img src="static/assets/sponsors/plotly.png" alt="plotly Logo">
    </a>
    <h5 class="text-center">Founding Sponsor</h5>
    <a href="http://continuum.io/" target="_blank">
      <img src="static/assets/sponsors/ContinuumAnalyticsLogo.png" alt="Continuum Analytics Logo">
    </a>
    <h5 class="text-center">Location Sponsor</h5>
    <a href="http://www.betahaus.com/berlin" target="_blank">
      <img src="static/assets/sponsors/betahaus-logo-retina.png" alt="Betahaus Logo">
    </a>
    <h5 class="text-center"><a href="http://pydata.org/sponsor/info">Become a sponsor</a></h5>
</div>
