<div class="large-2 columns">
    <h4 class="text-center">Sponsors</h4>
    <hr>
    <h5 class="text-center">Silver</h5>
    <a href="http://www.blue-yonder.com/">
      <img src="static/assets/sponsors/blue_yonder_logo.jpg" alt="Blue Yonder Logo">
    </a>
    <h5 class="text-center">Supporting</h5>
    <a href="http://www.python-academy.com/">
      <img src="static/assets/sponsors/python_academy_logo.png" alt="Python Academy Logo">
    </a>
    <h5 class="text-center">Founding Sponsor</h5>
    <a href="http://continuum.io/">
      <img src="static/assets/sponsors/ContinuumAnalyticsLogo.png" alt="Continuum Analytics Logo">
    </a>
    <h5 class="text-center">Location Sponsor</h5>
    <a href="http://www.betahaus.com/berlin">
      <img src="static/assets/sponsors/betahaus-logo-retina.png" alt="Betahaus Logo">
    </a>
    <h5 class="text-center"><a href="http://pydata.org/sponsor/info">Become a sponsor</a></h5>
</div>