<!DOCTYPE html>
<html lang="en">
{% include head.html %}
  <body>
    <a name="top"></a>
    <div class="row fixed mainBanner">
      <div id="background"></div>
        <div class="large-3 columns">
            <a href="index.html#top"><img src="static/img/PyDataBerlin-2015.png"></a>
            <!--<h1><img src="static/img/PyDataBerlin-2015.png"></h1>-->
        </div>
        
        <div class="large-9 columns">
          <ul class="button-group show-for-small-only">
            <li><a href="https://www.eventbrite.com/e/pydata-berlin-2015-tickets-16284071095" class="tiny button">Register</a></li>
            <li><a href="/#cfp" class="tiny button">CFP</a></li>
            <li><a href="/#venue" class="tiny button">Venue</a></li>
            <li><a href="/#news" class="tiny button">News</a></li>
            <li><a href="speakers.html" class="tiny button">Speakers</a></li>
            <li><a href="schedule.html" class="tiny button">Schedule</a></li>
          </ul>
          
          <ul class="button-group show-for-medium-up right">
            <li><a href="https://www.eventbrite.com/e/pydata-berlin-2015-tickets-16284071095" class="button">Register</a></li>
            <li><a href="/#cfp" class="button">CFP</a></li>
            <li><a href="/#venue" class="button">Venue</a></li>
            <li><a href="/#news" class="button">News</a></li>
            <li><a href="speakers.html" class="button">Speakers</a></li>
            <li><a href="schedule.html" class="button">Schedule</a></li>
          </ul>
        </div>
      </div>
    </div>
    
{{ content }}

{% include footer.html %}
  </body>
</html>